{
  "env": {
    "node": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "extends": [
    "eslint:recommended",
    "prettier"
  ],
  "rules": {
    "quotes": [ "error", "double" ]
  },
  "noInlineConfig": true
}